<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>83487835625-ug0l17p5f6huffrd0qttf9dtotd91gkk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83487835625-ug0l17p5f6huffrd0qttf9dtotd91gkk</string>
	<key>API_KEY</key>
	<string>AIzaSyBlRcXZE9wvqpV0jxnVd7MbdAES31TlV7s</string>
	<key>GCM_SENDER_ID</key>
	<string>83487835625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.codelab.mlkit</string>
	<key>PROJECT_ID</key>
	<string>ml-kit-day</string>
	<key>STORAGE_BUCKET</key>
	<string>ml-kit-day.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83487835625:ios:693c00b96c712e8c</string>
	<key>DATABASE_URL</key>
	<string>https://ml-kit-day.firebaseio.com</string>
</dict>
</plist>